body {
  background: #0f95e2;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.page-title {
  position: relative;
  vertical-align: baseline;
  margin-top: 0px;
  width: 100;
  height: 50px;
  background-color: grey;
}

.header {
  height: 120px;
  width: 100%;
  display: inline-block;
}

.menu {
  height: 50px;
  position: relative;
  top: 73px;
  color: #bcbcbc;
  background-color: #e2e2e2;
  width: 100%;
  border-bottom: 2px solid black;
}

#logo {
  position: absolute;
  top: -75px;
  left: -30px;
  width: 300px;
}

#logo-img {
  width: 300px;
  height: 300px;
}

/* HEADER USER */

div.headeruser {
  position: absolute;
  height: 60px;
  right: 20px;
  top: 10px;
}

div.headeruser img {
  width: 50px;
  height: 50px;
}

div.headeruser h5 {
  margin: 0;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
}

/* MENU CSS */
#first {
  margin-left: 170px;
}

#logout {
  float: right;
  margin-right: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #656565;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #656565;
}

/* This hides the dropdowns */


li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #2c3e50; }

/* Display the dropdown */


li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #1bc2a2; }

li:hover li a:hover { background: #2c3e50; }

.main-navigation li ul li {
  border-top: 0;
}

/* Displays second level dropdowns to the right of the first level dropdown */


ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */

ul:before,
ul:after {
  content: " ";
  display: table;
}

ul:after { clear: both; }

/* POST */

div.post-container {
  width: 75%;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

div.post-container button.delete {
  position: absolute;
  border-top-left-radius: 5px;
  border: 0px;
  background-color: red;
}

div.post-container img.post-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

div.post-title-bar {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
}

div.post-title-bar div {
  float: left;
  margin-top: 15px;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #42a4f4;
  float: left;
}

p.description {
  margin-top: 0;
  margin-left: 70px;
  color: grey;
}

div.post-actions {
  width: 100%;
  height: 30px;
}

div.post-actions button {
  float: left;
  height: 30px;
  border: 0px;
  margin: 0;
  width: 50%;
  display: inline;
}

div.post-actions .like {
  border-bottom-left-radius: 5px;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

div.post-actions .like img {
  height: 100%;
  width: auto;
}

div.post-actions .comment {
  border-bottom-right-radius: 5px;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

div.post-actions .comment img {
  height: 100%;
  width: auto;
}

div#comments {
  position: fixed;
  top: 10vh;
  left: 10vw;
}

div#comments iframe {
  width: 80vw;
  height: 80vh;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10000px black;
}

div.comment-body {
  position: relative;
  height: 100%;
}

div.comment-container {
  width: 100%;
  height: auto;
}

div.new-comment {
  width: 100%;
  height: auto;
}

div.new-comment textarea {
  height: 100px;
  width: 95%;
  float: left;
  padding: 10px;
}

div.new-comment input {
  float: left;
  width: 5%;
  height: 100px;
  background-color: green;
  border: 0;
}

div.comment-cont {
  width: 100%;
  height: 100%;
}

/* NEW POST PAGE */

div#camera-container {
  width: 70%;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  float: left;
}

div.rightbar {
  width: 20%;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  padding: 15px;
  background-color: white;
  float:left;
}

div.imframe {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

button#take_snapshots {
  width: 100%;
  margin: 0px;
  background-color: red;
  border: 0px;
  border-radius: 5px;
  height: 3vw;
  color: white;
  font-weight: bold;
}

/* TMP IMAGES */

div#tmp-images {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  overflow: hidden;
}

table#img-table {
  width: 100%;
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

img.tmp-img {
  width: 100%;
  height: auto;
}

button.delete-button {
  height: 30px;
  width: 50px;
  background-color: red;
  border: 0px;
}

button.post-button {
  height: 30px;
  width: 50px;
  background-color: lightgreen;
  border: 0px;
}

/* SEND POST PAGE */

div.new-post {
  width: 75%;
  margin: 10px auto 10px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

div.new-post img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

div.new-post textarea {
  width: 80%;
  height: 10vh;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

div.new-post input#post {
  width: 80%;
  height: 5vh;
  border: 0;
  background-color: green;
  border-radius: 10px;
  display: block;
  margin: auto;
}

/* COMMENTS */

div.comment-container {
  width: 100%;
  min-height: 80px;
  display: inline-block;
  border-bottom: 1px solid grey;
  background-color: #dddddd;

}

div.comment-container div.user {
  width: 6vw;
  min-width: 50px;
  text-align: center;
  float: left;
  border-right: 1px solid lightgrey;
}

div.comment-container h6 {
  margin: 2px;
}

div.comment-container div.user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid lightblue;
  margin: 5px;
}

div.comment {
  width: 70%;
  float: left;
  padding: 8px;
}

div.comment p {
  margin: 0px;
  color: black;
}

/* SETTINGS */

div.container {
  width: 90%;
  margin-top: 90px;
  background-color: white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

div.container input:focus {
  outline: none;
}

div.container input[type*="text"] {
  width: 100%;
  min-width: 250px;
  height: 2em;
  padding-left: 5px;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 10px;
}

div.container input[type*="password"], input[type*="email"] {
  width: 100%;
  min-width: 250px;
  height: 2em;
  padding-left: 5px;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 10px;
}

div.container input[type*="submit"] {
  width: 40%;
  height: 2em;
  border: 0;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.center-form {
  width: 30%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

div.container strong {
  margin-left: 20px;
}
